/* lib_colors.scss */

$color-Gray--20: #F1F1F1;
$color-Gray--40: #DDDDDD;

$color-hcWarmBlue: #0058A3;
$color-hcYellow: #FAD73C;

$color-hcWhite: #FFFFFF;
$color-Gray--20: #F1F1F1;
$color-Gray--30: #E4E4E4;
$color-Gray--40: #DDDDDD;
$color-Gray--60: #999999;
$color-Gray--70: #777777;
$color-Gray--80: #505050;
$color-hcBlack: #000000;